LENTICULAR_PORTAL_URL=https://okulary-3d.pl
LENTICULAR_MACHINE_ID=production-worker-1
LENTICULAR_API_KEY_ID=replace-me
LENTICULAR_API_SECRET=replace-with-at-least-32-random-characters
LENTICULAR_ALLOWED_DOWNLOAD_HOSTS=okulary-3d.pl
LENTICULAR_RUNTIME_DIR=runtime
LENTICULAR_POLL_SECONDS=5
LENTICULAR_LEASE_SECONDS=120
LENTICULAR_FFMPEG=ffmpeg
LENTICULAR_FFPROBE=ffprobe

